@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: 'Rubik';
}

body {
    margin-top: 64px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.calendar-search {
    display: grid;
    grid-template-columns: 85% 15%;
}

#calendar-date {
    border: 1px solid black;
    border-radius: 10px;
}

.calendar-search, .calendar {
    max-width: 250px;
    margin: 0 auto 12px;
}

.calendar {
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}

.calendar-header {
    max-height: 24px;
    padding: 18px 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.calendar-header button {
    margin: 0 12px;
    background-color: transparent;
    border: none;
}

.calendar-header button:hover {
    cursor: pointer;
}

.calendar-week, .calendar-days {
    max-width: 100%;
    display: grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    text-align: center;
}

.calendar-week {
    padding-bottom: 6px;
    border-bottom: 2px solid black;
}

.calendar-days li {
    padding: 6px 0;
    border: 1px solid black;
}

.calendar-selected {
    background-color: red;
    color: white;
}

@media screen and (max-width: 1250px) {

    .calendar-search, .calendar {
        max-width: 80%;
    }

    .calendar-days li {
        padding: 12px 0;
    }

}